@import '../../styles/components/variables.css';

.header.wrapper{
  align-items: center;
  border: 1px solid var(--proj-border);
  display: flex;
  height: 20vh;
  justify-content: center;
}

.header.title{
  font-size: 2rem;
  font-weight: 700;
}
